
<div class="container-fluid linesBig">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
      <div class="col-4">
        <div class="textPc">Get in touch with us</div>
      </div>
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
    </div>
  </div>
  <div class="grid-container-footer">
    <div class="time">
      <div class="timeWrapperFooter">
        <div class="timePosFooter">
          <div class="dayDateFooter">
          Monday - Friday:
          </div>
          <div class="hoursFooter">
            8:00 - 20:00 (8 AM - 8 PM)
          </div>
          <div class="dayDateFooter">
             Saturday - Sunday:
          </div>
          <div class="hoursFooter">
            10:00 - 18:00 (10 AM - 6 PM)
          </div>
          <div class="timeZoneFooter">
             Indian Standard Time
          </div>
        </div>
        <div class="bordersFooterMobile"></div>
      </div>
  
    </div>
    <div class="terms">
      <div class="wrapperTermsFooter">
        <a href="tac" class="termsLinkFooter">General Terms and Conditions</a>
      </div>
    </div>
    <div class="phone">
      <div class="wrapperPhoneFooter">
        <div class="phonesFooter">
          <div class="callFooter">Call Us</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">Vijayawada </div><div class="numberFooter"> +91 939 858 5660</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">Mangalagiri </div><div class="numberFooter"> +91 779 499 2385</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">Guntur </div><div class="numberFooter"> +91 934 723 6358</div>
        </div>
      </div>
    </div>
    <div class="faq">
      <div class="faqTermsFooter">
        <a href="#" class="faqLinkFooter">Frequently Asked Questions</a>
      </div>
    </div>
    <div class="office"><!--Same classes as time-->
      <div class="timeWrapperFooter">
        <div class="bordersFooterMobile"></div>
        <div class="placePosFooter">
          <div class="dayDateFooter">
          Vijayawada Offices:   <a href = "https://g.page/Mercedes-Benz-Vijayawada?share">Visit</a>
          </div>
          <div class="hoursFooter">
            Survey No. 250/11, National Highway-5, Vijayawada, Andhra Pradesh 521104
          </div>
          <div class="dayDateFooter">
            Mangalagiri Offices:  <a href="https://goo.gl/maps/g6QuT2ohHvTeLXYU6">Visit</a>
          </div>
          <div class="hoursFooter">
            Survey No: 397/1, Atmakuru Village, Mangalagiri, Andhra Pradesh 522503
          </div>
          <div class="dayDateFooter">
            Guntur Offices:    <a href ="https://goo.gl/maps/vcUYGqTWgtCkERtq5">Visit</a>
          </div>
          <div class="hoursFooter">
            Plot No 319, Autonagar, Guntur, Andhra Pradesh 522001
          </div>
        </div>
      </div>
    </div>
  </div>
